* {
    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    background-color: cornflowerblue;

    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
}

header .title-header {
    color: rgb(43, 43, 43);
    font-weight: 400;

    margin-bottom: 10px;
}

header .nav-header ul {
    display: flex;
    justify-items: center;

    list-style: none;
}

header .nav-header ul li {
    color: rgb(70, 70, 70);
    cursor: pointer;
    padding: 10px;

    transition: all 100ms;
}

header .nav-header ul li:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.container {
    width: 80%;
}

.container .header-container {

    display: flex;
    justify-items: center;
    justify-content: space-between;

    padding: 15px 5px 15px 5px;
    border-bottom: 1px solid silver;
    margin-bottom: 50px;
}

.container .title-container {
    font-size: 400;
    color: rgb(43, 43, 43);
}

.table-container-products {
    width: 100%;
    border-collapse: collapse;
}

.table-container-products thead tr {
    text-align: left;
}

.table-container-products thead tr th {
    padding: 10px 0 10px 0;
    border-bottom: 1px solid silver;
}

.table-container-products tbody tr {
    padding: 10px;
}

.table-container-products tbody tr td {
    padding: 10px 0 10px 0;
}

.table-container-products th,
.table-container-products td {
    width: 10%;
}

.novo {
    background-color: green;
    padding: 10px 30px 10px 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    text-decoration: none;
}

.editar {
    background-color: rgb(245, 111, 22);
    padding: 5px 20px 5px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    color: white;

    transition: all 100ms;
}

.excluir {
    background-color: rgb(224, 58, 58);
    padding: 5px 20px 5px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    color: white;

    transition: all 100ms;
}

.editar:hover {
    background-color: rgb(165, 72, 11);
}

.excluir:hover {
    background-color: rgb(138, 16, 16);
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
}

.form-container .container-input input {
    padding: 10px 5px 10px 5px;
    border: 2px solid silver;
    border-radius: 5px;
    outline: none;
    transition: all 100ms linear;
    width: 95%;
}

.form-container .container-input input:focus {
    border: 2px solid cornflowerblue;
}

.cadastrar {
    width: fit-content;
    padding: 15px 20px 15px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border: 1px;
    background-color: rgb(29, 216, 29);
}