* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #025181;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 100px;
}

header .header-title {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

header .header-nav-bar ul {
    display: flex;
    list-style: none;
}

header .header-nav-bar a {
    text-decoration: none;
    color: white;

    font-weight: bolder;
    text-transform: uppercase;

    width: fit-content;
    padding: 0 10px 0 10px;
    transition: color 200ms linear;
}

header .header-nav-bar a:hover {
    color: silver;
}

main {
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main section {
    margin-bottom: 80px;
    padding: 20px;
    border-bottom: 2px solid silver;
    width: 50%;
}

main section .content,
.list {
    margin-bottom: 50px;
}

main section .list ul {
    list-style: inside;
}

main section .list li {
    margin: 10px 0 10px 0;
}

main section .title {
    text-transform: uppercase;
    color: silver;
    margin-bottom: 20px;
}

main section .title-second {
    text-transform: uppercase;
    color: gray;
    margin-bottom: 20px;
    font-size: 18px;
}

main section .content p {
    line-height: 30px;
    color: rgb(34, 34, 34);
}

main.toLeft {
    text-align: left;
}

main .toRight {
    text-align: right;
}